* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v33953_54 {
    width: 100%;
    height: 4182px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v33953_55 {
    width: 100%;
    height: 680px;
    background: rgba(0,86,210,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v33954_70 {
    width: 400px;
    height: 440px;
    background: url("../images/v33954_70.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 139px;
    left: 114px;
    overflow: hidden;
  }
  .v33953_56 {
    width: 400px;
    height: 440px;
    background: rgba(196,196,196,0);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 18px solid rgba(255,255,255,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 165px;
    border-bottom-right-radius: 165px;
    overflow: hidden;
  }
  .v33954_69 {
    width: 366px;
    height: 407px;
    background: url("../images/v33954_69.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 17px;
    overflow: hidden;
  }
  .v33954_67 {
    width: 366px;
    height: 407px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-bottom-left-radius: 144px;
    border-bottom-right-radius: 144px;
    overflow: hidden;
  }
  .v33954_66 {
    width: 549px;
    height: 407px;
    background: url("../images/v33954_66.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 35px;
    overflow: hidden;
  }
  .v34157_58 {
    width: 366px;
    height: 125px;
    background: url("../images/v34157_58.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 75px;
    overflow: hidden;
  }
  .v34157_73 {
    width: 135px;
    height: 125px;
    background: url("../images/v34157_73.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v34157_59 {
    width: 68px;
    height: 68px;
    background: rgba(77,77,77,1);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 33px;
    border-radius: 50%;
  }
  .v34157_60 {
    width: 93px;
    height: 95px;
    background: url("../images/v34157_60.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 46px;
    left: 0px;
    transform: rotate(-29deg);
    overflow: hidden;
  }
  .v34157_61 {
    width: 93px;
    height: 95px;
    background: url("../images/v34157_61.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotate(-29deg);
    overflow: hidden;
  }
  .v34157_62 {
    width: 66px;
    height: 70px;
    background: rgba(0,118,213,1);
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 33px;
    border-radius: 50%;
  }
  .v34157_63 {
    width: 41px;
    height: 39px;
    background: url("../images/v34157_63.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 41px;
    transform: rotate(-29deg);
    overflow: hidden;
  }
  .v34157_64 {
    width: 20px;
    height: 5px;
    background: rgba(250,250,250,0.7900000214576721);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 11px;
    border-top-right-radius: 32px;
    transform: rotate(-95deg);
    overflow: hidden;
  }
  .v34157_65 {
    width: 20px;
    height: 5px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 30px;
    transform: rotate(-164deg);
  }
  .v34157_66 {
    width: 20px;
    height: 5px;
    background: rgba(250,250,250,0.7900000214576721);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 34px;
    border-top-right-radius: 32px;
    transform: rotate(-95deg);
    overflow: hidden;
  }
  .v34157_67 {
    width: 20px;
    height: 5px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 54px;
    transform: rotate(-164deg);
  }
  .v34157_68 {
    width: 26px;
    height: 21px;
    background: url("../images/v34157_68.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 43px;
    transform: rotate(-29deg);
    overflow: hidden;
  }
  .v34157_69 {
    width: 20px;
    height: 5px;
    background: rgba(255,255,255,0.7900000214576721);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 11px;
    border-top-right-radius: 32px;
    transform: rotate(-95deg);
    overflow: hidden;
  }
  .v34157_70 {
    width: 20px;
    height: 5px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 30px;
    transform: rotate(-164deg);
  }
  .v34157_71 {
    width: 235px;
    height: 52px;
    background: url("../images/v34157_71.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 36px;
    left: 131px;
    overflow: hidden;
  }
  .v34157_72 {
    width: 235px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Source Code Pro;
    font-weight: Regular;
    font-size: 38px;
    opacity: 1;
    text-align: left;
  }
  .v33970_96 {
    width: 516px;
    height: 580px;
    background: url("../images/v33970_96.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 137px;
    left: 810px;
    overflow: hidden;
  }
  .v33959_54 {
    width: 516px;
    height: 580px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v33970_72 {
    width: 206px;
    height: 42px;
    background: rgba(53,132,244,0.05999999865889549);
    opacity: 1;
    position: absolute;
    top: 346px;
    left: 150px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }
  .v33970_76 {
    width: 224px;
    height: 42px;
    background: rgba(0,86,210,1);
    opacity: 1;
    position: absolute;
    top: 424px;
    left: 39px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v33970_74 {
    width: 100px;
    height: 42px;
    background: rgba(204,204,204,1);
    opacity: 1;
    position: absolute;
    top: 343px;
    left: 376px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v33961_58 {
    width: 125px;
    color: url("../images/v33961_58.png");
    position: absolute;
    top: 200px;
    left: 40px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v33970_57 {
    width: 171px;
    color: url("../images/v33970_57.png");
    position: absolute;
    top: 302px;
    left: 40px;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v33959_55 {
    width: 430px;
    color: url("../images/v33959_55.png");
    position: absolute;
    top: 28px;
    left: 39px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v33959_56 {
    width: 252px;
    color: rgba(21,20,20,0.7599999904632568);
    position: absolute;
    top: 71px;
    left: 40px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v33966_57 {
    width: 437px;
    height: 81px;
    background: url("../images/v33966_57.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 39px;
    overflow: hidden;
  }
  .v33961_57 {
    width: 98px;
    color: url("../images/v33961_57.png");
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v33960_57 {
    width: 437px;
    height: 42px;
    background: rgba(53,132,244,0.05999999865889549);
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }
  .v33961_55 {
    width: 139px;
    color: rgba(85,83,83,0.5699999928474426);
    position: absolute;
    top: 48px;
    left: 14px;
    font-family: Source Sans Pro;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v33966_56 {
    width: 100px;
    height: 42px;
    background: url("../images/v33966_56.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 241px;
    left: 39px;
    overflow: hidden;
  }
  .v33961_56 {
    width: 100px;
    height: 42px;
    background: rgba(53,132,244,0.05999999865889549);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }
  .v33961_61 {
    width: 51px;
    color: rgba(4,29,57,1);
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: Source Sans Pro;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v33966_55 {
    width: 100px;
    height: 42px;
    background: url("../images/v33966_55.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 241px;
    left: 156px;
    overflow: hidden;
  }
  .v33961_59 {
    width: 100px;
    height: 42px;
    background: rgba(53,132,244,0.05999999865889549);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }
  .v33966_54 {
    width: 70px;
    color: rgba(4,29,57,1);
    position: absolute;
    top: 11px;
    left: 8px;
    font-family: Source Serif Pro;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v33970_59 {
    width: 196px;
    height: 83px;
    background: url("../images/v33970_59.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 280px;
    overflow: hidden;
  }
  .v33968_54 {
    width: 175px;
    color: url("../images/v33968_54.png");
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v33970_56 {
    width: 107px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 49px;
    left: 12px;
    font-family: Source Sans Pro;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v33970_55 {
    width: 196px;
    height: 42px;
    background: rgba(53,132,244,0.05999999865889549);
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }
  .v33970_58 {
    width: 98px;
    height: 42px;
    background: rgba(53,132,244,0.05999999865889549);
    opacity: 1;
    position: absolute;
    top: 346px;
    left: 39px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }
  .v33970_60 {
    width: 20px;
    height: 20px;
    background: url("../images/v33970_60.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 253px;
    left: 114px;
    overflow: hidden;
  }
  .v33970_62 {
    width: 20px;
    height: 20px;
    background: url("../images/v33970_62.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 357px;
    left: 111px;
    overflow: hidden;
  }
  .v33970_61 {
    width: 20px;
    height: 20px;
    background: url("../images/v33970_61.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 253px;
    left: 232px;
    overflow: hidden;
  }
  .v33970_63 {
    width: 18px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 354px;
    left: 87px;
    font-family: Source Sans Pro;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v33970_64 {
    width: 28px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 353px;
    left: 50px;
    overflow: hidden;
  }
  .v33970_65 {
    width: 28px;
    height: 6px;
    background: rgba(19,136,8,1);
    opacity: 1;
    position: absolute;
    top: 17px;
    left: 0px;
  }
  .v33970_66 {
    width: 28px;
    height: 7px;
    background: rgba(238,238,238,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 0px;
  }
  .v33970_67 {
    width: 28px;
    height: 6px;
    background: rgba(255,153,51,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 0px;
  }
  .v33970_68 {
    width: 6px;
    height: 6px;
    background: rgba(0,0,128,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 11px;
  }
  .v33970_69 {
    width: 4px;
    height: 4px;
    background: rgba(238,238,238,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 12px;
  }
  .v33970_70 {
    width: 4px;
    height: 4px;
    background: rgba(102,102,179,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 12px;
  }
  .v33970_71 {
    width: 1px;
    height: 1px;
    background: rgba(0,0,128,1);
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 14px;
  }
  .v33970_73 {
    width: 198px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 356px;
    left: 158px;
    font-family: Source Sans Pro;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v33970_75 {
    width: 61px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 354px;
    left: 396px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v33970_77 {
    width: 205px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 433px;
    left: 50px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v33970_78 {
    width: 266px;
    color: rgba(107,106,106,1);
    position: absolute;
    top: 393px;
    left: 39px;
    font-family: Source Serif Pro;
    font-weight: Regular;
    font-size: 11px;
    opacity: 1;
    text-align: left;
  }
  .v33970_95 {
    width: 165px;
    height: 29px;
    background: url("../images/v33970_95.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 429px;
    left: 312px;
    overflow: hidden;
  }
  .v33970_80 {
    width: 18px;
    height: 29px;
    background: rgba(204,33,33,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v33970_81 {
    width: 137px;
    color: rgba(204,32,32,0.9300000071525574);
    position: absolute;
    top: 7px;
    left: 28px;
    font-family: Source Serif Pro;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v33970_82 {
    width: 257px;
    color: rgba(30,90,176,1);
    position: absolute;
    top: 480px;
    left: 39px;
    font-family: Source Serif Pro;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v33970_83 {
    width: 406px;
    color: url("../images/v33970_83.png");
    position: absolute;
    top: 521px;
    left: 39px;
    font-family: Source Serif Pro;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v34124_55 {
    width: 810px;
    height: 42px;
    background: url("../images/v34124_55.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 52px;
    left: 516px;
    overflow: hidden;
  }
  .v34124_54 {
    width: 810px;
    height: 42px;
    background: url("../images/v34124_54.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v33970_94 {
    width: 810px;
    height: 42px;
    background: url("../images/v33970_94.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v33970_84 {
    width: 88px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 0px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v33970_85 {
    width: 93px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 129px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v33970_86 {
    width: 51px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 244px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v33970_90 {
    width: 75px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 317px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v34005_62 {
    width: 53px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 412px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v33970_93 {
    width: 62px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 728px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v33970_91 {
    width: 199px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 486px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v33970_89 {
    width: 18px;
    height: 14px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 17px;
    left: 87px;
  }
  .v33970_92 {
    width: 103px;
    height: 42px;
    background: url("../images/v33970_92.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 707px;
    border: 2px solid rgba(255,255,255,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v33972_97 {
    width: 405px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1140px;
    left: 123px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 44px;
    opacity: 1;
    text-align: left;
  }
  .v33972_98 {
    width: 964px;
    color: rgba(0,0,0,0.800000011920929);
    position: absolute;
    top: 1204px;
    left: 123px;
    font-family: Source Sans Pro;
    font-weight: Light;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v34157_54 {
    width: 310px;
    height: 50px;
    background: url("../images/v34157_54.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1355px;
    left: 123px;
    overflow: hidden;
  }
  .v33986_66 {
    width: 310px;
    height: 50px;
    background: rgba(0,95,233,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,95,233,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v33986_65 {
    width: 242px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 16px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v33986_67 {
    width: 23px;
    height: 14px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 36px;
    left: 284px;
    transform: rotate(-89deg);
  }
  .v34157_55 {
    width: 282px;
    height: 35px;
    background: url("../images/v34157_55.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1424px;
    left: 139px;
    overflow: hidden;
  }
  .v34025_147 {
    width: 236px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v34025_148 {
    width: 23px;
    height: 14px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 268px;
    transform: rotate(-89deg);
  }
  .v34157_56 {
    width: 282px;
    height: 35px;
    background: url("../images/v34157_56.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1478px;
    left: 139px;
    overflow: hidden;
  }
  .v34025_259 {
    width: 201px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v34025_260 {
    width: 23px;
    height: 14px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 268px;
    transform: rotate(-89deg);
  }
  .v34157_57 {
    width: 282px;
    height: 35px;
    background: url("../images/v34157_57.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1296px;
    left: 139px;
    overflow: hidden;
  }
  .v33986_68 {
    width: 23px;
    height: 14px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 268px;
    transform: rotate(-90deg);
  }
  .v33986_64 {
    width: 157px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v34077_74 {
    width: 377px;
    height: 428px;
    background: url("../images/v34077_74.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1284px;
    left: 520px;
    overflow: hidden;
  }
  .v33986_72 {
    width: 377px;
    height: 428px;
    background: url("../images/v33986_72.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v33986_69 {
    width: 377px;
    height: 428px;
    background: url("../images/v33986_69.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.25px solid rgba(207,202,202,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v33985_60 {
    width: 376px;
    height: 187px;
    background: url("../images/v33985_60.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
  }
  .v34106_57 {
    width: 377px;
    height: 405px;
    background: rgba(0,127,229,0.9900000095367432);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 0px;
  }
  .v33986_70 {
    width: 77px;
    height: 77px;
    background: url("../images/v33986_70.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 116px;
    left: 16px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v33986_62 {
    width: 52px;
    height: 60px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 12px;
  }
  .v33986_91 {
    width: 244px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 136px;
    left: 113px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v34107_59 {
    width: 136px;
    height: 42px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 338px;
    left: 215px;
    border: 2px solid rgba(255,229,0,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: -28px 8px 0px rgba(0.01568627543747425, 0.11372549086809158, 0.2235294133424759, 0.30000001192092896);
    overflow: hidden;
  }
  .v33986_94 {
    width: 175px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 343px;
    left: 155px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v33991_55 {
    width: 38px;
    height: 34px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 223px;
    left: 26px;
    overflow: hidden;
  }
  .v33991_56 {
    width: 28px;
    height: 26px;
    background: url("../images/v33991_56.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 4px;
    overflow: hidden;
  }
  .v33991_57 {
    width: 11px;
    height: 10px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 17px;
  }
  .v33991_58 {
    width: 2px;
    height: 3px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 18px;
    left: 22px;
  }
  .v33991_59 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 3px;
  }
  .v33991_60 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 9px;
  }
  .v33991_61 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 16px;
  }
  .v33991_62 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 3px;
  }
  .v33991_63 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 9px;
  }
  .v33991_64 {
    width: 24px;
    height: 21px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
  }
  .v33991_65 {
    width: 22px;
    height: 1px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 1px;
  }
  .v33991_66 {
    width: 1px;
    height: 5px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 4px;
  }
  .v33991_67 {
    width: 1px;
    height: 5px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 16px;
  }
  .v33991_68 {
    width: 38px;
    height: 34px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 226px;
    left: 217px;
    overflow: hidden;
  }
  .v33991_69 {
    width: 19px;
    height: 12px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 15px;
  }
  .v33991_70 {
    width: 27px;
    height: 26px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 2px;
  }
  .v33991_71 {
    width: 84px;
    color: rgba(255,252,252,1);
    position: absolute;
    top: 228px;
    left: 69px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v33991_72 {
    width: 80px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 230px;
    left: 271px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v34108_61 {
    width: 377px;
    height: 428px;
    background: url("../images/v34108_61.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1284px;
    left: 976px;
    overflow: hidden;
  }
  .v34108_62 {
    width: 377px;
    height: 428px;
    background: url("../images/v34108_62.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v34108_63 {
    width: 377px;
    height: 428px;
    background: url("../images/v34108_63.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.25px solid rgba(207,202,202,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v34108_64 {
    width: 376px;
    height: 187px;
    background: url("../images/v34108_64.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
  }
  .v34108_65 {
    width: 377px;
    height: 405px;
    background: rgba(0,127,229,0.9900000095367432);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 0px;
  }
  .v34108_70 {
    width: 136px;
    height: 42px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 338px;
    left: 215px;
    border: 2px solid rgba(255,229,0,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: -28px 8px 0px rgba(0.01568627543747425, 0.11372549086809158, 0.2235294133424759, 0.30000001192092896);
    overflow: hidden;
  }
  .v34108_71 {
    width: 171px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 345px;
    left: 156px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v34108_73 {
    width: 25px;
    height: 26px;
    background: url("../images/v34108_73.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 217px;
    left: 30px;
    overflow: hidden;
  }
  .v34108_74 {
    width: 10px;
    height: 10px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 15px;
  }
  .v34108_75 {
    width: 2px;
    height: 3px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 18px;
    left: 20px;
  }
  .v34108_76 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 2px;
  }
  .v34108_77 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 8px;
  }
  .v34108_78 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 14px;
  }
  .v34108_79 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 2px;
  }
  .v34108_80 {
    width: 4px;
    height: 4px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 8px;
  }
  .v34108_81 {
    width: 21px;
    height: 21px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
  }
  .v34108_82 {
    width: 20px;
    height: 1px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 1px;
  }
  .v34108_83 {
    width: 1px;
    height: 5px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 4px;
  }
  .v34108_84 {
    width: 1px;
    height: 5px;
    background: rgba(255,252,252,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 14px;
  }
  .v34108_85 {
    width: 36px;
    height: 36px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 214px;
    left: 217px;
    overflow: hidden;
  }
  .v34108_86 {
    width: 18px;
    height: 13px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 11px;
  }
  .v34108_87 {
    width: 26px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 2px;
  }
  .v34108_88 {
    width: 84px;
    color: rgba(255,252,252,1);
    position: absolute;
    top: 218px;
    left: 69px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v34108_89 {
    width: 80px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 218px;
    left: 271px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v34001_54 {
    width: 100%;
    height: 582px;
    background: linear-gradient(rgba(235,243,255,1), rgba(0,86,210,0));
    opacity: 1;
    position: absolute;
    top: 2190px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v34002_54 {
    width: 350px;
    height: 233px;
    background: url("../images/v34002_54.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2163px;
    left: 109px;
    overflow: hidden;
  }
  .v34002_55 {
    width: 350px;
    height: 262px;
    background: url("../images/v34002_55.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2455px;
    left: 109px;
    overflow: hidden;
  }
  .v34002_56 {
    width: 300px;
    height: 450px;
    background: url("../images/v34002_56.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2235px;
    left: 511px;
    overflow: hidden;
  }
  .v34002_58 {
    width: 453px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2316px;
    left: 847px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 39px;
    opacity: 1;
    text-align: left;
  }
  .v34002_59 {
    width: 470px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2419px;
    left: 847px;
    font-size: 23px;
    opacity: 1;
    text-align: left;
  }
  .v34131_59 {
    width: 159px;
    height: 42px;
    background: url("../images/v34131_59.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2565px;
    left: 848px;
    overflow: hidden;
  }
  .v34002_60 {
    width: 159px;
    height: 42px;
    background: rgba(0,86,210,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v34002_61 {
    width: 105px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 10px;
    left: 27px;
    font-family: Source Serif Pro;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v34008_54 {
    width: 270px;
    height: 270px;
    background: rgba(240,85,35,0.15000000596046448);
    opacity: 1;
    position: absolute;
    top: 2994px;
    left: 109px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v34008_58 {
    width: 270px;
    height: 270px;
    background: rgba(0,86,210,0.25);
    opacity: 1;
    position: absolute;
    top: 2994px;
    left: 411px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v34013_66 {
    width: 217px;
    color: rgba(97,95,95,1);
    position: absolute;
    top: 3170px;
    left: 443px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v34008_59 {
    width: 270px;
    height: 270px;
    background: rgba(253,202,5,0.23999999463558197);
    opacity: 1;
    position: absolute;
    top: 2993px;
    left: 713px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v34008_60 {
    width: 270px;
    height: 270px;
    background: rgba(0,86,210,0.12999999523162842);
    opacity: 1;
    position: absolute;
    top: 2996px;
    left: 1015px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v34008_68 {
    width: 95px;
    height: 95px;
    background: rgba(255,47,46,0.15000000596046448);
    opacity: 1;
    position: absolute;
    top: 3010px;
    left: 198px;
    border-radius: 50%;
  }
  .v34013_62 {
    width: 95px;
    height: 95px;
    background: rgba(0,99,240,0.2800000011920929);
    opacity: 1;
    position: absolute;
    top: 3010px;
    left: 503px;
    border-radius: 50%;
  }
  .v34013_64 {
    width: 95px;
    height: 95px;
    background: rgba(253,202,5,0.25);
    opacity: 1;
    position: absolute;
    top: 3010px;
    left: 805px;
    border-radius: 50%;
  }
  .v34013_69 {
    width: 95px;
    height: 95px;
    background: rgba(243,243,243,1);
    opacity: 1;
    position: absolute;
    top: 3010px;
    left: 1102px;
    border-radius: 50%;
  }
  .v34009_54 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2842px;
    left: 109px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 34px;
    opacity: 1;
    text-align: left;
  }
  .v34009_55 {
    width: 211px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3112px;
    left: 151px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v34009_56 {
    width: 217px;
    color: rgba(97,95,95,1);
    position: absolute;
    top: 3170px;
    left: 145px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v34013_67 {
    width: 217px;
    color: rgba(97,95,95,1);
    position: absolute;
    top: 3170px;
    left: 744px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v34013_68 {
    width: 217px;
    color: rgba(97,95,95,1);
    position: absolute;
    top: 3170px;
    left: 1041px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v34013_63 {
    width: 227px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3112px;
    left: 451px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v34013_65 {
    width: 212px;
    color: rgba(22,22,22,1);
    position: absolute;
    top: 3112px;
    left: 768px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v34071_55 {
    width: 68px;
    height: 68px;
    background: url("../images/v34071_55.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3024px;
    left: 819px;
    overflow: hidden;
  }
  .v34022_112 {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(255,255,255,0), rgba(229,239,255,1));
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 0px;
    overflow: hidden;
  }
  .v34064_518 {
    width: 42px;
    height: 42px;
    background: url("../images/v34064_518.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 955px;
    left: 1017px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v34022_135 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 957px;
    left: 1084px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v34022_133 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 955px;
    left: 791px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v34022_113 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 763px;
    left: 183px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v34022_114 {
    width: 310px;
    color: rgba(43,42,42,1);
    position: absolute;
    top: 858px;
    left: 556px;
    font-family: Source Sans Pro;
    font-weight: Light;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .v34022_116 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 955px;
    left: 207px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v34022_131 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 955px;
    left: 498px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v34034_55 {
    width: 114px;
    height: 67px;
    background: rgba(255,255,255,1);
    opacity: 0.33000001311302185;
    position: absolute;
    top: 285px;
    left: 0px;
    overflow: hidden;
  }
  .v34034_56 {
    width: 114px;
    height: 67px;
    background: rgba(255,255,255,0.33000001311302185);
    opacity: 1;
    position: absolute;
    top: 285px;
    left: 1326px;
    overflow: hidden;
  }
  .v34035_57 {
    width: 297px;
    height: 67px;
    background: rgba(255,255,255,0.33000001311302185);
    opacity: 1;
    position: absolute;
    top: 285px;
    left: 513px;
    overflow: hidden;
  }
  .v34033_54 {
    width: 100%;
    height: 546px;
    background: url("../images/v34033_54.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3346px;
    left: 0px;
    overflow: hidden;
  }
  .v34025_136 {
    width: 100%;
    height: 546px;
    background: rgba(54,134,247,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v34040_54 {
    width: 48px;
    height: 48px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 74px;
    left: 957px;
    overflow: hidden;
  }
  .v34060_515 {
    width: 42px;
    height: 42px;
    background: url("../images/v34060_515.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 955px;
    left: 724px;
    overflow: hidden;
  }
  .v34064_517 {
    width: 42px;
    height: 42px;
    background: url("../images/v34064_517.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 955px;
    left: 139px;
    overflow: hidden;
  }
  .v34064_519 {
    width: 42px;
    height: 42px;
    background: url("../images/v34064_519.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 955px;
    left: 432px;
    overflow: hidden;
  }
  .v34064_520 {
    width: 68px;
    height: 68px;
    background: url("../images/v34064_520.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2766px;
    left: 274px;
    overflow: hidden;
  }
  .v34067_521 {
    width: 68px;
    height: 68px;
    background: url("../images/v34067_521.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3017px;
    left: 212px;
    overflow: hidden;
  }
  .v34071_54 {
    width: 68px;
    height: 68px;
    background: url("../images/v34071_54.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3024px;
    left: 520px;
    overflow: hidden;
  }
  .v33986_80 {
    width: 222px;
    height: 44px;
    background: url("../images/v33986_80.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1417px;
    left: 1089px;
    overflow: hidden;
  }
  .v33986_86 {
    width: 222px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Source Sans Pro;
    font-weight: SemiBold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v33986_90 {
    width: 77px;
    height: 77px;
    background: url("../images/v33986_90.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1398px;
    left: 1002px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v33986_88 {
    width: 48px;
    height: 48px;
    background: rgba(253,253,253,1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 14px;
  }
  .v34117_55 {
    width: 224px;
    height: 396px;
    background: rgba(0,128,117,0.3700000047683716);
    opacity: 1;
    position: absolute;
    top: 3420px;
    left: 201px;
  }
  .v34136_55 {
    width: 634px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 8300px;
    left: 685px;
    font-family: Source Sans Pro;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  