@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
* {
    margin-top: 5%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}
html{
    box-sizing: content-box;   
}

.Header5 {
    width: 100%;
    height: 650px;
    background: rgba(0,86,210,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

  }
  .logo {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: -80px;
    left: 40px;

    overflow: hidden;
  }
  .ml-auto, .mx-auto{
    margin-left: auto!important;
  }
  .nav-bg {
    color: #0056d2 !important;
  }

  .nav-bar {
    width: 88px;
    top: 0px;
    left: 0px;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 26px;
    opacity: 1;
    color: red !important;
  
  }
  .navbar__container {
    width: 100%;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    
  }
  .rcorners2 {
    border-radius: 8px;
    border: 1.5px solid #4e4e4d;
    padding: 5px;
    width: 55px;
    height: 24px;
  }
  .head-line {
    width: 100%;
    height: 67px;
    background: rgba(255,255,255,0.33000001311302185);
    opacity: 1;
    position: absolute;
    top: 225px;
    left: 0px;
    overflow: hidden;
  }